<div class="bx-form-input-tools-cont">
    <bx_repeat:tools>
        <div class="bx-form-input-tools bx-def-padding-thd-topbottom">
            <div class="bx-form-input-tools-cell bx-fi-ac-txt">__input_select__</div>
            <div class="bx-form-input-tools-cell bx-fi-ac-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.toolDelete(this)"><bx_image_auto:times /></a>
            </div>
        </div>
    </bx_repeat:tools>
    <div class="bx-form-input-tools-add">__btn_add__</div>
</div>
