<div id="bx-agents-agents-alert-cont" style="overflow:visible;">
<select id="bx-agents-agents-alert" name="alert" class="bx-def-font-inputs bx-form-input-select">
    <bx_repeat:alerts>
        <option value="__value__" <bx_if:sel>__sel__</bx_if:sel> data-desc="__desc__">__name__</option>
    </bx_repeat:alerts>
</select>
</div>
<script>
    function formatItem(state) {
        if (!state.id) 
            return state.text;
        const desc = $(state.element).data('desc');
        return $(`
            <div>
                <div class="bx-alert-text">${state.text}</div>
                <div class="bx-alert-desc">${desc || ''}</div>
            </div>
        `);
    }
    $('#bx-agents-agents-alert').select2({
        templateResult: formatItem,
        templateSelection: d => d.text,
    });

    $('#bx-agents-agents-alert').on('change', function () {
        const value = $(this).val();
        const sUrl = sUrlRoot + "grid.php?o=__grid_object__&a=get_alert&csrf_token=" + window.glGrids.__grid_object__._sCsrfToken;
        $.post(sUrl, {alert: value}, function(oResult) {
            if (typeof(oResult.code) !== 'undefined' && oResult.code == 200) {
                $('#bx-agents-agents-alert-payload .payload-on i').html(oResult.desc);
                $('#bx-agents-agents-alert-payload .payload-on pre').html(JSON.stringify(oResult.payload, null, 4));
                $('#bx-agents-agents-alert-payload .payload-on').show();
                $('#bx-agents-agents-alert-payload .payload-off').hide();
            } else {
                $('#bx-agents-agents-alert-payload .payload-on').hide();
                $('#bx-agents-agents-alert-payload .payload-off').show();
            }
        }, 'json');
    });


</script>