/*-- Timers --*/
.bx-tasks-timers-actions .bx-menu-custom {
    justify-content: flex-end;

    margin: -0.25rem -0.5rem;
}
.bx-tasks-timers-actions .bx-menu-custom li {
    margin: 0.25rem 0.5rem;
}
.bx-tasks-timers-actions .bx-menu-custom li a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*-- Timer --*/
.bx-tasks-timer-actions .bx-menu-custom {
    flex-wrap: wrap;
    justify-content: center;

    margin: -0.25rem -0.5rem;
}

.bx-tasks-timer-actions .bx-menu-custom li {
    margin: 0.25rem 0.5rem;
}

.bx-tasks-timer-actions .bx-menu-custom li a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*-- Timer Card --*/
.bx-tasks-timer-card .bx-tasks-timer-actions .bx-menu-custom li a {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}