/*-- Timer --*/
.bx-tasks-actions .bx-menu-custom {
    justify-content: center;
}

.bx-tasks-actions .bx-menu-custom li {
    margin-left: 1.0rem;
}
.bx-tasks-actions .bx-menu-custom li:first-child {
    margin-left: 0;
}

.bx-tasks-actions .bx-menu-custom li a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*-- Timer Card --*/
.bx-tasks-timer-card .bx-tasks-actions .bx-menu-custom li a {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}