__js_code__
<div class="bx-tasks-timers">
    <div class="bx-tasks-timers-sections space-y-4">
        <bx_repeat:sections>
            <div class="bx-tasks-timers-section">
                <div class="bx-tasks-ts-ttl mb-2 text-xl">__section_title__</div>
                <div class="bx-tasks-ts-cnt flex flex-wrap -m-2">
                    <bx_repeat:timers>
                        <div class="bx-tasks-timer-card-wrp w-full">
                            <div class="bx-tasks-timer-card bx-def-box bx-def-box-round-corners m-2">
                                <div class="bx-tasks-timer-card-cnt flex justify-between items-center p-4">
                                    <div class="bx-tasks-tc-task flex flex-col">
                                        <div class="bx-tasks-tc-content text-lg font-bold truncate">
                                            <a href="__content_url__">__content_title__</a>
                                        </div>
                                        <bx_if:show_context>
                                            <div class="bx-tasks-tc-context text-sm truncate">
                                                <a href="__url__">__title__</a></span>
                                            </div>
                                        </bx_if:show_context>
                                    </div>
                                    <div class="bx-tasks-tc-value">__timer__</div>
                                </div>
                            </div>
                            <script>__js_code_timer__</script>
                        </div>
                    </bx_repeat:timers>
                </div>
            </div>
        </bx_repeat:sections>
    </div>
    <div class="bx-tasks-timers-actions mt-4">__actions__</div>
</div>